
<% include partials/header %>
<h1>
	<strong>WELCOME TO  MY YELPCAMP</strong>
</h1>
<p>
	Hello, welcome to our campground websites. check all our available campground. We have so many exciting area and spots for camp.
</p>
<a href = "/campgrounds"> View All Campgrounds</a>
<br>
<br>
<img src="https://pbs.twimg.com/profile_images/509728443278188544/2jEt3Xvi.jpeg">
	 
<br>	
<hr>

<% include partials/footer %>
