<% include ../partials/header %>
<div class="container">
	<header class="jumbotron">
		<h1>Welcome to Campground!</h1>
<p>View our campground from the world. We have all kinds of perfect campgrounds available in many places.
	<P>
		<a class ="btn btn-primary btn-lg"  href="/campgrounds/new">Add New Campground</a>
	</P>
	<br>
	<a href="/">Go Back</a>
</p>
		
</header>
	<div class="row" >
	<% campground.forEach(function(campground){ %>
	<div class="col-md-4 ">
		<div class="img-thumbnail">
			<div class="caption" >
		<img src ="<%= campground.image %>" class="mx-auto d-block" style="width:100%">
	
		<h4><%= campground.name %></h4>	
			</div>
       <p>
			<a class="btn-btn-primary" href="/campgrounds/<%= campground. _id %>">More Info</a>
			</p>
		</div>
		</div>
	<% }); %>
    </div> 
</div>
<% include ../partials/footer %>
	
	